<ion-content *ngIf="peliculas.length > 0" class="animated fadeIn">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3 class="pry">Favoritos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let pg of favoritoGenero">
    <ion-grid *ngIf="pg.pelis.length > 0">
      <ion-row>
        <ion-col>
          <h4 class="p pry">{{ pg.genero }}</h4>
        </ion-col>
      </ion-row>
      <app-slideshow-poster [peliculas]="pg.pelis"></app-slideshow-poster>
    </ion-grid>
  </div>
</ion-content>

<ion-content *ngIf="peliculas.length === 0" class="animated fadeIn">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3 class="pry">Recomendaciones</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="c-f">
    <img src="../../assets/img/user.png" alt="user-image" class="user-image">
    <ion-card-header>
      <ion-card-title>Datos no disponibles</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Le recomendamos agregar elementos a la sección de favoritos.
    </ion-card-content>
  </ion-card>
</ion-content>